@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Source+Sans+Pro:wght@300;400&display=swap');
*{
    box-sizing: border-box;
}
body {
   
    background-color: #cad3d3;
    text-align: center;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #5f727f;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
   
}

.nth-child-odd>li:nth-child(odd) {
    background-color: #f4f6f7;
}

.container {

    width: auto;
    margin: auto;
    padding: 5%;
}

.row {
   
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 42px;
}

.col {
     width: 362px;
    height: 768px;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: white;
}

.price {
    border-radius: 100%;
    width: 124px;
    height: 121px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-white {
    background-color: white;
}

.bg-dark-purple {
    background-color: #2c2e3d;
}

.bg-green {
    background-color: #40b22d;
}

.weight-100 {
    font-weight: 100;
}

.text-color-purple {
    color: #5a3455;
}

.text-color-green {
    color: #40b22d;
}

.text-color-blue {
    color: #5cb2f9;
}
.price-title-1{
    font-size: 32px;
    margin: auto;
    padding: 25px;
    color: #2196f7;
    
}
.price-title-2{
    font-size: 32px;
    margin: auto;
    padding: 25px;
    color: #d74498;
    
}
.price-title-3{
    font-size: 32px;
    margin: auto;
    padding: 25px;
    color: #32ad1e;
    
}
.price-text {
    margin-top: -15px;
    color: #5f727f;
    font-size: 16px;

}
.bg-img {
    position: relative;
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.5;
    background-color: black;
}

.text-img {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.text-img-title {
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;

}

.text-img-text {
    margin-top: -20px;
    color: white;
    font-weight: 100;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.h-100px {
    height: 100px;
    font-family: 'Source Sans Pro', sans-serif;
}

.text-color-gray {
    color: #5f727f;
    font-size: 24px;
}

.text-sub {
    margin-top: -10px;
    font-size: 14px;
}

.box-btn {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: medium;
    border: 1px solid #5cb2f9;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #5cb2f9;
}

.btn-blue:hover {
    border: 1px solid #5cb2f9;
    color: white;
    background-color: #5cb2f9;
    cursor: pointer;
}

.btn-purple {
    border: 1px solid #6c136f;
    color: #6c136f;
}

.btn-purple:hover {
    border: 1px solid #6c136f;
    color: white;
    background-color: #6c136f;
    cursor: pointer;
}

.btn-green {
    border: 1px solid #40b22d;
    color: #40b22d;
}

.btn-green:hover {
    border: 1px solid #40b22d;
    color: white;
    background-color: #40b22d;
    cursor: pointer;
}

.new {
    position: absolute;
    left: -3%;
    z-index: 50;
    top: -2%;
}

.new-text {
    position: absolute;
    top: 9%;
    width: 100%;
    height: 100%;
    color: white;
}

/* responsive */

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .container {
        width: auto;
        margin: auto;
        padding: 20% 0;
    }
    .row {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 5rem;
    }
    .price {
        border-radius: 100%;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
    }
    .text-img {
        position: absolute;
        top: 30%;
        width: 100%;
        height: 100%;
        bottom: 0;
    }
}


@media only screen and (min-width: 540px) and (max-width: 720px) {
    .price {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: auto;
        margin: auto;
        padding: 5%;
    }
    .row {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 5rem;
    }
    .price {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .price {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 1920px) and (max-width: 3000px) {
    .price {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}